.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 135px;
  position: relative;
  top: -50px;
  background: url(../images/header/header-back.png) no-repeat left top;
  background-size: cover;
  width: 100%; }
  .footer__part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__title {
    margin-bottom: 10px; }
  .footer__text {
    margin-top: 20px; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 121px; }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 44%; }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 150px;
    width: 34%; }
  .footer__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between; }
  .footer__icon-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media screen and (min-width: 1600px) {
  .footer {
    padding-left: calc(50% - 575px);
    padding-right: calc(50% - 575px); } }

@media screen and (max-width: 1000px) {
  .footer {
    padding: 20px 50px; }
    .footer__part {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left; }
    .footer__container {
      padding-top: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__left {
      width: 100%;
      margin-bottom: 35px;
      margin-top: 20px; }
    .footer__right {
      width: 100%;
      margin-top: 20px; } }

@media screen and (max-width: 650px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__row {
      width: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer__wrap {
      margin-bottom: 30px;
      width: 100%; } }

/*# sourceMappingURL=footer.css.map */
