.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }
  .nav__mobile {
    display: none; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 34%;
    min-width: 450px; }
  .nav__item {
    display: inline-block;
    color: #4f4f4f; }
  .nav__link {
    color: #4f4f4f;
    -webkit-transition: color 1s;
    transition: color 1s; }
    .nav__link:hover {
      color: #0386a0; }

.nav__mobile-button,
.nav__mobile-close,
.nav__item:first-child {
  display: none; }

@media screen and (max-width: 999px) {
  .nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nav__mobile-button {
      display: block;
      position: absolute;
      top: 30px;
      right: 70px; }
    .nav__bag {
      display: none; }
    .nav__list {
      position: absolute;
      top: -20px;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background: #0386a0;
      height: 450px;
      width: 230px;
      min-width: 230px;
      padding-top: 70px;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
  .nav--is-active .nav {
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative; }
    .nav--is-active .nav__list {
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .nav--is-active .nav__item {
      margin-top: 30px; }
      .nav--is-active .nav__item:first-child {
        display: block; }
    .nav--is-active .nav__link {
      color: white; }
    .nav--is-active .nav__mobile-button {
      display: none; }
    .nav--is-active .nav__mobile-close {
      display: inline-block;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      position: absolute;
      bottom: 110px;
      right: -50px;
      color: white; } }

/*# sourceMappingURL=navigation.css.map */
